*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    /* background-image: url('../images/WhatsApp\ Image\ 2024-10-02\ at\ 20.48.38_59d71104.jpg'); */
    padding-top: 50px;
    margin-top: 20px;
    /* margin-left: 30px;
    margin-right: 30px; */
    background-size:cover;
    /* overflow:hidden; */
    /* height: 200vh; */
    font-family: 'Poppins', sans-serif;

}
h1{
    text-align: center;
}
#navbar{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    font-size: 20px;
    position: fixed;
    padding: 8px;
    width: 100%;
    background-color:rgb(174, 174, 174);
    z-index: 2;
    top: 0;
}
.nbox1 h1{
    margin: 0;
    font-size: 20px;
    padding: 0;


}
#navbar a,#navbar i{
    color: black;
    margin: 20px;
    text-decoration: none;
    /* margin-top: 30px; */
}
#nhome{
    color: yellow;
}
p{
    padding: 30px;
}